  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-centered">
        <div class="question">
          <h3><%= @question %></h3>
          <p>- you</p>
        </div>
      </div>
      <div class="col-lg-12 col-centered">
        <div class="answer">
          <h3><%= @answer %></h3>
          <p>- your fucking coach!!!!</p>
        </div>
      </div>
    </div>
  </div>






<%= link_to "ask a new question", ask_path %>


